
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test NG Report" verbose="1" parallel="tests"
     thread-count="1" configfailurepolicy="continue">
  
  <test name="Free CRM TestNG">
    <classes>
      
      <class name="com.qa.runner.TestNGRunner"/>
    
    </classes>
    
 </test>
</suite>